@tailwind base;
@tailwind components;
@tailwind utilities;

.from-top {
  animation-duration: 500ms;
  animation-name: fromTop;
  animation-fill-mode: forwards;
}
.to-top {
  animation-duration: 500ms;
  animation-name: toTop;
  animation-fill-mode: forwards;
}
.from-right {
  animation-duration: 300ms;
  animation-name: fromRight;
  animation-fill-mode: forwards;
}
.from-bottom {
  animation-duration: 300ms;
  animation-name: fromBottom;
  animation-fill-mode: forwards;
}
.stacked-layer-from {
  animation-duration: 300ms;
  animation-name: stackedLayerFrom;
  animation-fill-mode: forwards;
}
.stacked-layer-to {
  animation-duration: 300ms;
  animation-name: stackedLayerTo;
  animation-fill-mode: forwards;
}

@keyframes fromTop {
  from {
    transform: translateY(-120px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes toTop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-120px);
  }
}
@keyframes fromRight {
  from {
    transform: translateX(120px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fromBottom {
  from {
    transform: translateY(60px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes stackedLayerFrom {
  from {
    transform: translateY(110vh);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes stackedLayerTo {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(110vh);
  }
}
